.c-tasks .card{

  width: 100%;
  margin: 0;
}

.c-tasks .card>.task {
    padding: 7px;
}

.c-tasks .task__icons {
    display: none;
    position: absolute;
    right: 0;
    background: inherit;
    cursor: pointer;
    padding: 7px;
    margin: 0;
    
}

.c-tasks .card:hover .task__icons {
  display: block;
}

.c-tasks .task__remove-icon {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 1.2rem;
  color: red;
}

.c-tasks .task__remove-icon:hover {
  font-size: 1.3rem;
}

.c-tasks .list-group-item{
    padding: 1px !important;
}

.c-tasks .whatsapp-icon{
  position: absolute;
  top: 12px;
  right: 24px;
  font-size: 0.8rem;
  color: green;
}

.c-tasks .whatsapp-icon:hover {
  font-size: 1rem;
}
