.c-tasks .card{

  width: 100%;
  margin: 0;
}

.c-tasks .card>.task {
    padding: 7px;
}

.c-tasks .task__icons {
    display: none;
    position: absolute;
    right: 0;
    background: inherit;
    cursor: pointer;
    padding: 7px;
    margin: 0;
    
}

.c-tasks .card:hover .task__icons {
  display: block;
}

.c-tasks .task__remove-icon {
  position: absolute;
  top: 7px;
  right: 5px;
  background-color: inherit;  
  font-size: 1.0rem;
  color: red;
  text-align: center;
  width: 20px;
}

.c-tasks .task__remove-icon:hover {
  font-weight: bolder;
  top: 6px;
}

.c-tasks .list-group-item{
  padding: 1px !important;
}

.c-tasks .whatsapp-icon{
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 1.2rem;
  color: green;
  background-color: inherit;
  width: 24px;
}

.c-tasks .whatsapp-icon:hover {
  font-size: 1.3rem;
  top: 9px;
}
